<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_comparison"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PartyDeckComparison"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".ComparisonActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoticesActivity" android:exported="false" />
        <!-- One engine per process. The chooser and its navigation survive engine teardown. -->
        <activity
            android:name=".GodotGameActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|density"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":godot"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>
