* text=auto eol=lf
*.bat text eol=crlf whitespace=cr-at-eol
*.jar binary
*.ttf binary
*.png binary
*.wav binary
assets/licenses/** -text -whitespace
composeApp/src/commonMain/composeResources/files/licenses/** -text -whitespace
godot/renderer/assets/licenses/** -text -whitespace
godot/renderer/licenses/** -text -whitespace
godot/android-host/src/main/assets/notices/** -text -whitespace
