<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="PartyDeck qualification input"
        android:testOnly="true" />
    <instrumentation
        android:name="dev.partydeck.qualification.input.ContinuousTouchInstrumentation"
        android:targetPackage="dev.partydeck.qualification.input" />
</manifest>
